<!-- Make this component as shared component  . -->
<ng-container *ngIf="basket$ | async as basket">
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead [class.table-light]="isBasket" class="border-0 py-2">
      <tr>
        <th scope="col">
          <div class="p-2 px-3 text-uppercase ">Product</div>
        </th>
        <th scope="col">
          <div class="py-2 text-uppercase">Price</div>
        </th>
        <th scope="col">
          <div class="py-2 text-uppercase text-center">Quantity</div>
        </th>
        <th scope="col">
          <div class="py-2 text-uppercase">Total</div>
        </th>
        <th *ngIf="isBasket" scope="col" class="border-0">
          <div class="py-2 text-uppercase">Remove</div>
        </th>
      </tr>
      </thead>

      <tbody>
      <!-- we're need to access basket service to get the baskets observable. -->
      <tr *ngFor="let item of basket.items" class="border-0">
        <th scope="row">
          <div class="p-0">
            <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid" style="max-height: 50px;">
            <div class="ml-3 d-inline-block align-middle">
              <h5 class="mb-0">
                <a routerLink="/shop/{{item.id}}" class="text-dark">{{item.productName}}</a>
              </h5>
              <span
                class="text-muted font-weight-normal fst-italic d-block">Type: {{item.type}}</span>
            </div>

          </div>
        </th>
        <td class="align-middle"><strong>{{item.price | currency}}</strong></td>
        <td class="align-middle">
          <!-- we've got three methods in here and we need to create output properties for each of these
          so that we can emit the events to the component that's going to be using this which is gonna be basket component. -->
          <div class="d-flex align-items-center" [class.justify-content-center]="!isBasket">
            <i *ngIf="isBasket" (click)="decrementItemQuantity(item)" class="fa fa-minus-circle text-warning me-2"
               style="cursor: pointer; font-size: 2em;"></i>
            <span class="fw-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
            <i *ngIf="isBasket" (click)="incrementItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2"
               style="cursor: pointer; font-size: 2em;"></i>
          </div>
        </td>
        <td class="align-middle">{{item.price * item.quantity | currency}}<strong></strong></td>
        <td class="align-middle text-center">
          <a class="text-danger">
            <i *ngIf="isBasket" (click)="removeBasketItem(item)" class="fa fa-trash"
               style="font-size: 2em; cursor: pointer;"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
