<div class="mt-4" [formGroup]="checkoutForm">
  <h4 class="mb-3">Choose your delivery method</h4>
  <div class="row ms-5" formGroupName="deliveryForm">
    <div class="col-6 form-check" *ngFor="let dMethod of deliveryMethods">
      <!-- value: this is going to use to send up to API. -->
      <input type="radio"
             (click)="setShippingPrice(dMethod)"
             formControlName="deliveryMethod"
             id="{{dMethod.id}}"
             value="{{dMethod.id}}"
             class="form-check-input">
      <label for="{{dMethod.id}}" class="form-check-label">
        <strong>{{dMethod.shortName}} - {{dMethod.price | currency}}</strong>
        <br>
        <span class="label-description">{{dMethod.description}}</span>
      </label>
    </div>
  </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Back to Address
  </button>
  <button  class="btn btn-primary" cdkStepperNext>
    Go to Review <i class="fa fa-angle-right"></i>
  </button>
</div>
